extends layout

block head
  link(rel='stylesheet', href='/stylesheets/app.css')
  //if IE 7
      link(rel='stylesheet', href='stylesheets/font-awesome-ie7.min.css')
  script(src='/javascripts/head.js')

block content
  .container
    .navbar.navbar-inverse
      .navbar-inner
        .brand HomeAgain
        .nav-collapse.collapse
          ul.nav
            li: a(href="/admin", target="_blank") Admin
          #LoginView
    #AppView
    hr
    footer
      p © HomeAgain 2013

    
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/vendor.js')
  script(src='/javascripts/app.js', defer, onload="require('initialize');")
