extends layout

block head
  link(rel='stylesheet', href='/stylesheets/app.css')
  //if IE 7
      link(rel='stylesheet', href='stylesheets/font-awesome-ie7.min.css')
  script(src='/javascripts/head.js')

block content
  .container
    .navbar.navbar-inverse
      .navbar-inner
        .navbar-brand HomeAgain
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href="/admin", target="_blank") Admin
          #LoginView
  
    .col-md-3
      .list-group#menu
        a#menu-sensors.list-group-item(href ="/admin/sensors/") Sensors
        a#menu-rooms.list-group-item(href="/admin/rooms/") Rooms
      a.btn.btn-success(href="/admin/rooms/add/") Add room
    .col-md-9    
      #AppView
    hr
    footer
      p © HomeAgain 2013

    
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/vendor.js')
  script(src='/javascripts/app.js', defer, onload="require('initialize');")
