div
	h1 Create new user

	form(role="form", method="post", id="signupForm")
		div.form-group
			label(for="username") Username
			input(type="text", name="username", placeholder="Enter Username")#username.form-control
		div.form-group
			label(for="password") Password
			input(type="password", name="password", placeholder="Enter Password")#password.form-control
		button(type="submit").btn.btn-default#submit Submit